body {
    background-color: black;
    color: white;
}

#map {
    height: 700px;
    width: 600px;
}

.sequence-control-container {
    width: 390px;
    height: 45px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    line-height: 20px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
    padding: 5px;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content {
    margin: 0.2em 0;
}

.legend-control-container {
    width: 400px;
    height: 75px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
    color: black;
    font-size: 2em;
}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}